pip>=21.1
urllib3>2.4.0
coverage>=6.0b1
certifi>=2024.7.4
flake8
mock
monotonic
pre-commit
pytest
pyyaml
responses
tox-pip-extensions
tox>=3.8
unidiff
ibm_db
boxsdk[jwt]
pyahocorasick
tabulate
binaryornot
chardet>=3.0.2,<7.0.0
